nav#main-navbar.navbar.navbar-inverse
    .navbar-header
        a.navbar-brand(href='/') Microblogging app
    .pull-right
        if !req.session.authenticated
            a(href="/user/login") Login
        else
            span= 'Benvenuto ' + req.session.user.username
            a(href="/user/logout") Logout