nav#main-navbar.navbar.navbar-inverse
    .navbar-header
        a.navbar-brand(href='/') Microblogging app
    .pull-right
        p= JSON.stringify(user)
        if user == 'undefined'
            a(href="/login") Login
        else
            span= JSON.stringify(user)