extends ./layout

block body
  .container
    .jumbotron
      h1 Welcome to the microblogging app!
      .btn-group.btn-group-lg
        a.btn.btn-primary(href='/user/login') Login
        a.btn.btn-primary(href='/signup') Signup
