extends ./layout

block body
    .container
        .jumbotron
            h1 Signup page
            p#user= JSON.stringify(errors)
            p#user= JSON.stringify(user)
            form(action="/signup", method="post").form-horizontal
                .form-group
                    label.col-sm-3 Username
                    .col-sm-9
                        input(placeholder="username", name="username")#username.form-control
                .form-group
                    label.col-sm-3 E-mail
                    .col-sm-9
                        input(placeholder="email", name="email")#email.form-control
                .form-group
                    label.col-sm-3 Password
                    .col-sm-9
                        input(placeholder="password", name="password", type="password")#password.form-control
                .form-group.btn-group
                    button(type="submit").btn.btn-lg.btn-success Signup!
                    button(type="reset").btn.btn-lg.btn-warning Reset